.main
  %img.main__image{src: 'https://images.unsplash.com/photo-1505248254168-1de4e1abfa78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80'}
  .rogin__area
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .rogin__area--email
        = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス"
      .rogin__area--password
        = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :ログイン状態を保存する
      .actions
        = f.submit "Log in"