.show__name
  .show__name--box
    = @item.name
.show__other.clearfix
  .show__other--text
    ■ 情報
    %br
    = simple_format(@item.text)
  .show__other--size
    ■ サイズ
    %br
    = simple_format(@item.size)
  .show__other--weather
    ■ 晴れ用？雨用？
    %br
    - if @item.weather == 1
      = simple_format("雨の日用")
    - else
      = simple_format("晴れの日用")