.top__contents--image
  = image_tag asset_path('IMindex7.jpeg'),class:"top__contents--image-back"
  = render "backlayout"
  .top__right
    .top__right--area
      .top__right--area-name
        - if @user.iconimage.present?
          = link_to image_tag(@user.iconimage.url ,size:"60x60",class:"iconimage"),user_path(@user.id)
          .top__right--area-name-right
            登録情報編集
        - else
          = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"iconimage"),user_path(@user.id)
          .top__right--area-name-right
            登録情報編集
        .top__right--area-name-window
          .window__area
            .window__area--name
              #{@user.nickname}
            - if @user.iconimage.present?
              = link_to image_tag(@user.iconimage.url ,size:"120x120",class:"window__area--image"),user_path(@user.id)
            - else
              = link_to image_tag(asset_path('iconnew1.png'),size:"120x120",class:"window__area--image"),user_path(@user.id)
            %p.window__area--number 靴の所持数 #{@item_number.length}足
            %p.window__area--favorite お気に入りの靴の数 #{@item_favorite.length}足
            .window__area--mypage
              = link_to "マイページ",user_path(@user.id),class:"window__area--mypage-zone"
            .window__area--logout
              = link_to "ログアウト",destroy_user_session_path,method: :delete,class: "window__area--logout-zone"
      = render partial:"shared/search"
      = link_to "トップ", root_path,method: :get,class:"top__right--area-btn"
    .edit-top__right--item
      .edit-top__right--item-form
        .edit-top__right--item-form-name
          Please edit!
        .edit-top__right--item-form-border
        .edit-top__right--item-form-info
          登録した情報の修正
        .edit-top__right--item-form--border
        = render "form"