.top__contents--image
  = image_tag asset_path('IMindex7.jpeg'),class:"top__contents--image-back"
  .top__left
    .top__left--time
      %p.top__left--time-real
    .top__left--weather
      .top__info
      .top__left--weather-city
      .top__left--weather-information
    - if user_signed_in?
      = link_to "ログアウト" ,destroy_user_session_path,method: :delete,class: "top__left--register"
    - else
      = link_to "ログイン", new_user_session_path, class: "top__left--register"
  .top__right
    .top__right--area
      - if user_signed_in? 
        .top__right--area-name
          - if current_user.iconimage.present?
            = link_to image_tag(current_user.iconimage.url ,size:"60x60",class:"iconimage"),user_path(current_user.id)
            .top__right--area-name-right
              ようこそ #{current_user.nickname}さん!!
          - else
            = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"iconimage"),user_path(current_user.id)
            .top__right--area-name-right
              ようこそ #{current_user.nickname}さん!!
          .top__right--area-name-window
            .window__area
              .window__area--name
                #{current_user.nickname}
              - if current_user.iconimage.present?
                = link_to image_tag(current_user.iconimage.url ,size:"120x120",class:"window__area--image"),user_path(current_user.id)
              - else
                = link_to image_tag(asset_path('iconnew1.png'),size:"120x120",class:"window__area--image"),user_path(current_user.id)
              %p.window__area--number 靴の所持数 #{@items.length}足
              %p.window__area--favorite お気に入りの靴の数 #{@items_favorite.length}足
              .window__area--mypage
                = link_to "マイページ",user_path(current_user.id),class:"window__area--mypage-zone"
              .window__area--logout
                = link_to "ログアウト",destroy_user_session_path,method: :delete,class: "window__area--logout-zone"



        = link_to "新しく靴を登録", new_item_path,method: :get,class:"top__right--area-btn"
        = render partial:"shared/search"
      - else
        .top__right--area-name
          ユーザー登録またはログインしてください
        = link_to "ユーザー登録", new_user_registration_path, class: "top__right--area-btn"
        = link_to "ログイン", new_user_session_path, class: "top__right--area-btn"
    .top__right--item
      .top__right--item-sunny 
        .weather-box
          = image_tag asset_path('sun1.png'),size:"25x25",class:"weatherimage"
          %p 晴れの日用の靴
        - if user_signed_in?
          - @items.each do |i|
            - if i.weather == 0 and i.status == "unused"
              .image_box
                .item__name
                  = i.name
                .image_box-area
                  = link_to image_tag(i.image.url,class:'image',size:'140x140'),item_path(i.id)
                  - if i.favorite == 0
                    = link_to image_tag(asset_path('favorite1.png'),class:"favorite_off",size:"25x25"),item_favorite_index_path(i.id)
                  - else i.favorite == 1
                    = link_to image_tag(asset_path('favorite2.png'),class:"favorite_on" ,size:"55x55"),new_item_favorite_path(i.id)
                  = link_to '使用する', item_used_index_path(i.id), method: :get,class:'edit__btn'
                  = link_to '編集', edit_item_path(i.id), method: :get,class:'edit__btn'
      .top__right--item-border
      .top__right--item-rainy
        .weather-box
          = image_tag asset_path('rain1.png'),size:"25x25",class:"weatherimage"
          %p 雨の日用の靴
        - if user_signed_in?
          - @items.each do |i|
            - if i.weather == 1 and i.status == "unused"
              .image_box
                .item__name
                  = i.name
                .image_box-area
                  = link_to image_tag(i.image.url,class:'image',size:'140x140'),item_path(i.id)
                  - if i.favorite == 0
                    = link_to image_tag(asset_path('favorite1.png'),class:"favorite_off",size:"25x25"),item_favorite_index_path(i.id)
                  - else i.favorite == 1
                    = link_to image_tag(asset_path('favorite2.png'),class:"favorite_on" ,size:"55x55"),new_item_favorite_path(i.id)
                  = link_to '使用する', item_used_index_path(i.id), method: :get,class:'edit__btn'
                  = link_to '編集', edit_item_path(i.id), method: :get,class:'edit__btn'
    .top__right--item-bottom
      .top__right--item-bottomrecovery
        .weather-box
          = image_tag asset_path('zzz.png'),size:"25x25",class:"weatherimage"
          %p 休息中
        - if user_signed_in?
          - @items.each do |i|
            - if i.status == "used"
              .image_box
                .item__name
                  = i.name
                .image_box-area
                  = link_to image_tag(i.image.url,class:'image',size:'140x140'),item_path(i.id)
                  - if i.favorite == 0
                    = link_to image_tag(asset_path('favorite1.png'),class:"favorite_off",size:"25x25"),item_favorite_index_path(i.id)
                  - else i.favorite == 1
                    = link_to image_tag(asset_path('favorite2.png'),class:"favorite_on" ,size:"55x55"),new_item_favorite_path(i.id)
                  = link_to '使用可能にする', new_item_used_path(i.id), method: :get,class:'edit__btn'
                .time
                  = (i.updated_at+i.limit.minutes).strftime("%Y-%m-%d %H:%M:%S")
