.top__contents--image
  = image_tag asset_path('IMindex7.jpeg'),class:"top__contents--image-back"
  = render "backlayout"
  .top__right
    .top__right--area
      - if user_signed_in? 
        .top__right--area-name
          - if current_user.iconimage.present?
            = link_to image_tag(current_user.iconimage.url ,size:"60x60",class:"iconimage"),user_path(current_user.id)
            .top__right--area-name-right
              ようこそ #{current_user.nickname}さん!!
          - else
            = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"iconimage"),user_path(current_user.id)
            .top__right--area-name-right
              ようこそ #{current_user.nickname}さん!!
          .top__right--area-name-window
            .window__area
              .window__area--name
                #{current_user.nickname}
              - if current_user.iconimage.present?
                = link_to image_tag(current_user.iconimage.url ,size:"120x120",class:"window__area--image"),user_path(current_user.id)
              - else
                = link_to image_tag(asset_path('iconnew1.png'),size:"120x120",class:"window__area--image"),user_path(current_user.id)
              %p.window__area--number 靴の所持数 #{@items.length}足
              %p.window__area--favorite お気に入りの靴の数 #{@items_favorite.length}足
              .window__area--mypage
                = link_to "マイページ",user_path(current_user.id),class:"window__area--mypage-zone"
              .window__area--logout
                = link_to "ログアウト",destroy_user_session_path,method: :delete,class: "window__area--logout-zone"
        = link_to "新しく靴を登録", new_item_path,method: :get,class:"top__right--area-btn"
        = render partial:"shared/search"
      - else
        .top__right--area-name
          ユーザー登録またはログインしてください
        = link_to "ユーザー登録", new_user_registration_path, class: "top__right--area-btn"
        = link_to "ログイン", new_user_session_path, class: "top__right--area-btn"
    .top__right--item

      -# 靴の管理画面
      = render "topsunny"
      .top__right--item-border
      = render "toprain"
    .top__right--item-bottom
      = render "toprecovery"