%ul.top__contents--image
  %li
  %li
  %li
  %li
  .top__left
    .top__left--time
      %p.top__left--time-real
    .top__left--weather
      .top__info
      .top__left--weather-city
      .top__left--weather-information
    .top__left--register
      - if user_signed_in?
        = link_to "ログアウト" ,destroy_user_session_path,method: :delete,class: "top__left--register-btn"
      - else
        = link_to "ログイン", new_user_session_path, class: "top__left--register-btn"
  .top__right
    .top__right--area
      - if user_signed_in? 
        .top__right--area-name
          = image_tag current_user.iconimage.url ,size:"60x60",class:"iconimage"
          .top__right--area-name-right
            Welcome to #{current_user.nickname}!!
        = link_to "New Shoes!!", new_item_path,method: :get,class:"top__right--area-btn"
      - else
        .top__right--area-name
          Please register or login
        = link_to "New User!!", new_user_registration_path, class: "top__right--area-btn"
    .top__right--item
      .top__right--item-sunny 
        %p Sunny Shoes
        - if user_signed_in?
          - @items.each do |i|
            - if i.weather == 0 and i.status == "unused"
              .image_box
                .item__name
                  = i.name
                  = image_tag i.image.url,class:'image',size:'140x140'
                  = link_to 'Used', item_used_index_path(i.id), method: :get,class:'edit__btn'
                  = link_to 'Show', item_path(i.id), method: :get,class:'show__btn'
                  = link_to 'Edit', edit_item_path(i.id), method: :get,class:'edit__btn'
      .top__right--item-border
      .top__right--item-rainy
        %p Raniy Shoes
        - if user_signed_in?
          - @items.each do |i|
            - if i.weather == 1 and i.status == "unused"
              .image_box
                .item__name
                  = i.name
                  = image_tag i.image.url,class:'image',size:'140x140'
                  = link_to 'Used', item_used_index_path(i.id), method: :get,class:'edit__btn'
                  = link_to 'Show', item_path(i.id), method: :get,class:'show__btn'
                  = link_to 'Edit', edit_item_path(i.id), method: :get,class:'edit__btn'
      .top__right--item-border
      .top__right--item-recovery
        %p Recovery Shoes
        - if user_signed_in?
          - @items.each do |i|
            - if i.status == "used"
              .image_box
                .item__name
                  = i.name
                  = image_tag i.image.url,class:'image',size:'140x140'
                  = link_to 'Show', item_path(i.id), method: :get,class:'show__btn'
                  = link_to 'Un Used', new_item_used_path(i.id), method: :get,class:'edit__btn'
                .time
                  = (i.updated_at+i.limit.minutes).strftime("%Y-%m-%d %H:%M:%S")
