.top__contents--image
  = image_tag asset_path('IMindex28.png'),class:"top__contents--image-back"
  = render "backlayout"
  .top__right
    .top__right--area
      .top__right--area-name
        - if current_user.iconimage.present?
          = link_to image_tag(current_user.iconimage.url ,size:"60x60",class:"iconimage"),user_path(current_user.id)
          .top__right--area-name-right
            新しい靴を登録しましょう！
        - else
          = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"iconimage"),user_path(current_user.id)
          .top__right--area-name-right
            新しい靴を登録しましょう！
      = link_to "トップ", root_path,method: :get,class:"top__right--area-btn"
      = render partial:"shared/search"
    .edit-top__right--item
      .edit-top__right--item-form
        .edit-top__right--item-form-name
          Please register the shoes you have!
        .edit-top__right--item-form-border
        .edit-top__right--item-form-info
          持っている靴を長持ちさせる為、登録しましょう！
        .edit-top__right--item-form--border

        -# フォームまとめ
        = render "form"