.top__contents--image
  = image_tag asset_path('IMindex28.png'),class:"top__contents--image-back"
  .top__left
    .top__left--time
      %p.top__left--time-real
    .top__left--weather
      .top__info
      .top__left--weather-city
      .top__left--weather-information
    .top__left--register
      = link_to "ログアウト" ,destroy_user_session_path,method: :delete,class: "top__left--register-btn"
  .top__right
    .top__right--area
      .top__right--area-name
        - if current_user.iconimage.present?
          = link_to image_tag(current_user.iconimage.url ,size:"60x60",class:"iconimage"),user_path(current_user.id)
          .top__right--area-name-right
            新しい靴を登録しましょう！
        - else
          = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"iconimage"),user_path(current_user.id)
          .top__right--area-name-right
            新しい靴を登録しましょう！
      = link_to "トップ", root_path,method: :get,class:"top__right--area-btn"
      = render partial:"shared/search"
    .edit-top__right--item
      .edit-top__right--item-form
        .edit-top__right--item-form-name
          Please register the shoes you have!
        .edit-top__right--item-form-border
        .edit-top__right--item-form-info
          持っている靴を長持ちさせる為、登録しましょう！
        .edit-top__right--item-form--border
        = form_with(model: @item, local: true) do |f|
          .edit-top__right--item-form-box
            靴の名前
            = f.text_field :name, class: 'edit-top__right--item-form-box-shoes', placeholder: '40文字まで'
          .edit-top__right--item-form-box
            情報
            = f.text_area :text, class: 'edit-top__right--item-form-box-shoesohter',placeholder: '買った日、買った場所、好きな情報を書き込みましょう！'
            .edit-top__right--item-form-box
            晴れ用？雨用？
            = f.select :weather, [["Sunny", 0],["Rain", 1]],{}, {class: 'edit-top__right--item-form-box-shoesweather'}
            .edit-top__right--item-form-box
            サイズ
            = f.select :size, Item.sizes.keys,{}, {class: 'edit-top__right--item-form-box-shoessize'}
          .edit-top__right--item-form-right
            画像
            = image_tag asset_path('new1.png'),class:'edit-top__right--item-form-right-box'
            = f.file_field :image, class: 'edit-top__right--item-form-right-boximage'
            = f.submit "登録" ,class: 'edit-top__right--item-form-rightbtn'