.top__contents--image
  = image_tag asset_path('IMindex7.jpeg'),class:"top__contents--image-back"
  .top__left
    .top__left--time
      %p.top__left--time-real
    .top__left--weather
      .top__info
      .top__left--weather-city
      .top__left--weather-information
    = link_to "ログアウト" ,destroy_user_session_path,method: :delete,class: "top__left--register"
  .top__right
    .top__right--area
      .top__right--area-name
        - if @user.iconimage.present?
          = link_to image_tag(@user.iconimage.url ,size:"60x60",class:"iconimage"),user_path(@user.id)
          .top__right--area-name-right
            この靴の詳細情報
        - else
          = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"iconimage"),user_path(@user.id)
          .top__right--area-name-right
            この靴の詳細情報
        .top__right--area-name-window
          .window__area
            .window__area--name
              #{@user.nickname}
            - if @user.iconimage.present?
              = link_to image_tag(@user.iconimage.url ,size:"120x120",class:"window__area--image"),user_path(@user.id)
            - else
              = link_to image_tag(asset_path('iconnew1.png'),size:"120x120",class:"window__area--image"),user_path(@user.id)
            %p.window__area--number 靴の所持数 #{@item_number.length}足
            %p.window__area--favorite お気に入りの靴の数 #{@item_favorite.length}足
            .window__area--mypage
              = link_to "ユーザーページ",user_path(@user.id),class:"window__area--mypage-zone"
            .window__area--logout
              = link_to "ログアウト",destroy_user_session_path,method: :delete,class: "window__area--logout-zone"

      = render partial:"shared/search"
      = link_to "トップ", root_path,method: :get,class:"top__right--area-btn"
    .top__right--item_show.clearfix
      = image_tag @item.image.url,class:"show__image"
      .item_info
        - if user_signed_in? && current_user.id == @item.user_id
        = image_tag asset_path('triangle.png'),class:"item_info-image",size:"12x8"
          .item_info-area
            = link_to '削除',item_path(@item.id) , method: :delete,class:'delete__btn'
            - if user_signed_in? && current_user.id == @item.user_id and @item.status == "unused"
              = link_to '編集', edit_item_path(@item.id), method: :get,class:'edit__btn'
        .show__name
          .show__name--box
            = @item.name
        .show__other.clearfix
          .show__other--text
            ■ 情報
            %br
            = simple_format(@item.text)
          .show__other--size
            ■ サイズ
            %br
            = simple_format(@item.size)
          .show__other--weather
            ■ 晴れ用？雨用？
            %br
            - if @item.weather == 1
              = simple_format("雨の日用")
            - else
              = simple_format("晴れの日用")
      .comment__area

      .comment__bar
        .comment__bar--form
        .comment__bar--send