.top__contents--image
  = image_tag asset_path('IMindex4.jpeg'),class:"top__contents--image-back"
  .top__left
    .top__left--time
      %p.top__left--time-real
    .top__left--weather
      .top__info
      .top__left--weather-city
      .top__left--weather-information
    .top__left--block
      = link_to "ログアウト" ,destroy_user_session_path,method: :delete,class: "top__left--register"
  .top__right
    .top__right--area
      .top__right--area-name
        - if current_user.iconimage.present?
          = link_to image_tag(current_user.iconimage.url ,size:"60x60",class:"iconimage"),user_path(current_user.id)
          .top__right--area-name-right
            ようこそ #{current_user.nickname}さん!!
        - else
          = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"iconimage"),user_path(current_user.id)
          .top__right--area-name-right
            ようこそ #{current_user.nickname}さん!!
        .top__right--area-name-window
          .window__area
            .window__area--name
              #{current_user.nickname}
            - if current_user.iconimage.present?
              = link_to image_tag(current_user.iconimage.url ,size:"120x120",class:"window__area--image"),user_path(current_user.id)
            - else
              = link_to image_tag(asset_path('iconnew1.png'),size:"120x120",class:"window__area--image"),user_path(current_user.id)
            %p.window__area--number 靴の所持数 #{@items.length}足
            %p.window__area--favorite お気に入りの靴の数 #{@items_favorite.length}足
            .window__area--mypage
              = link_to "マイページ",user_path(current_user.id),class:"window__area--mypage-zone"
            .window__area--logout
              = link_to "ログアウト",destroy_user_session_path,method: :delete,class: "window__area--logout-zone"

      = link_to "トップ", root_path,method: :get,class:"top__right--area-btn"
      = render partial:"shared/search"
    .top__right--user
      .top__right--userinfo
        .top__right--userinfo-border
        .top__right--userinfo-icon アイコン
        .top__right--userinfo-name ユーザーネーム
        .top__right--userinfo-size マイサイズ
        .top__right--userinfo-number 所持数
        .top__right--user-box
          - @users.each do |u|
            .top__right--user-boxs
              - if u.iconimage.present?
                = link_to image_tag(u.iconimage.url ,size:"60x60",class:"top__right--user-boxsicon"),user_path(u.id)
              - else
                = link_to image_tag(asset_path('iconnew1.png'),size:"60x60",class:"top__right--user-boxsicon"),user_path(u.id)
              .top__right--user-boxsname
                = link_to u.nickname,user_path(u.id)
              .top__right--user-boxssize
                = u.mysize
              .top__right--user-boxsnumber
                = u.items.length
                足
          = paginate(@users)