!!!
%html
  %meta{content:"summary_large_image", name:"twitter:card"}/
  %meta{content:"@H8QcnibmFxpvjQ8", name:"twitter:site"}/
  %meta{content:"http://54.178.124.177/", property:"og:url"}/
  %meta{content:"Shoes Management", property:"og:title"}/
  %meta{content:"あなたの靴を長持ちさせるため、靴を使用したら3日間お休みさせましょう。\nこのアプリは登録した靴を使用してから3日間使えないよう記録してくれます。\nその日の天気も確認できるので、雨の日にお気に入りの靴を履いてしまうなんて事故も防げます。", property:"og:description"}/
  %meta{content:"https://d1ymj4i3qw1393.cloudfront.net/pages/19edae2723fd1428847a9d90ec1f798b.png", property:"og:image"}/
  %head
    = favicon_link_tag(asset_path('favicon.ico'))
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShoesManagement
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = yield
