!!!
%html
  %head
    = favicon_link_tag(asset_path('favicon.ico'))
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "@H8QcnibmFxpvjQ8", :name => "twitter:site"}/
    %meta{:content => "http://54.178.124.177/", :property => "og:url"}/
    %meta{:content => "Shoes Management", :property => "og:title"}/
    %meta{:content => "あなたの靴を長持ちさせるため、靴を使用したら3日間お休みさせましょう。\nこのアプリは登録した靴を使用してから3日間使えないよう記録してくれます。\nその日の天気も確認できるので、雨の日にお気に入りの靴を履いてしまうなんて事故も防げます。", :property => "og:description"}/
    %meta{:content => "https://smartlog-stat2.imgix.net/uploads/content/piece/2017/8/486d5cf9842ce45e44ee694f79bed7ba/shutterstock_437686198.jpg?w=689&h=459&auto=compress&q=35", :property => "og:image"}/

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShoesManagement
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = yield
